---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

{% capture papers %}
## Works in Progress

- *[Stability Pays Dividends: Financial Market Exposure & Political Risk](/files/writingsamplenov.pdf)*  
  **Abstract:** This paper examines the impact of financial market exposure on partisan identification in the United Kingdom (1999–2020), finding that low levels of stock market participation increase alignment with the political right. However, I observe that greater financial market exposure shifts support toward incumbents through the proposed mechanisms of risk aversion and social buy-in, pointing to the political function of financial inclusion.

## Datasets
- *[The Shared Capitalism Project (1999-2024)](https://github.com/lydiagcamp/shared_capitalism.git)*                       
  Drawing data from annual Form 5500 filings, this dataset provides a clean overview of how shared capitalism (employee stock ownership plans, profit-sharing plans, and stock bonuses) has changed over time in the United States. You can find the description of the data [here](/files/VariableGuide.pdf). 



  {% endcapture %}

  {{ papers | markdownify }}
  {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}


{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



